.box {
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: rem(20);
  }
}

.boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(300);
  height: rem(300);
  border: rem(5) solid var(--dark-color);
  border-radius: rem(20);
  background-color: red;
  color: var(--dark-color);

  h1 {
    margin: 0;
    padding: 0;
    font-size: rem(40);
  }

  @media (max-width: 1024px) {
    width: rem(400);
    height: rem(400);
    font-size: rem(20);
    background-color: green;
  }
}
