.burger {
  @include burger;

  & .line-first {
    background-color: #685ed6;
  }

  &.burger__line.line-secondary {
    background-color: #33afe1;
  }

  &.burger__line.line-last {
    background-color: #18e1f7;
  }
}

.header__menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.2rem;
  margin-bottom: 4rem;
}

.header__link {
  // position: absolute;
  // left: 0;
  // top: 0;
  width: 100%;
  max-height: 28.6rem;
  background-color: #f8fbff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.1rem;
}

.header__btn--light {
  padding: 1.2rem 2rem;
  background-color: #f1e4ff;
  color: var(--secondary-color);
}

.header__btn--secondary {
  padding: 1.2rem 3.2rem;
  background-color: var(--secondary-color);
  color: #ffffff;
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.07);
}
