.tarifs {
  background-color: var(--light-color);

  &__title {
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-size: 3.2rem;
    line-height: 1.2;
    margin-bottom: 0.8rem;
    color: var(--dark-color);
    text-align: center;
  }

  &__text {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 700;
    color: var(--dark-color);
    max-width: 21.4rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3.2rem;
  }

  .tarifs-swiper {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 0.6rem;
    background-color: #fcfeff;
  }

  .header__btn--light {
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 2.1;
    padding: 0.6rem 2rem;
    margin-bottom: 4rem;
  }

  &__slide-title {
    font-size: 2.8rem;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3.2rem;
    color: var(--dark-color);
  }

  &__slide-description {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 4.6rem;
    color: var(--dark-color);
  }

  .header__btn--secondary {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.4;
    padding: 1.2rem 0;
    margin-bottom: 5rem;
  }
}
