<footer class="footer">
  <div class="container footer-wrapper">
    <img
      loading="lazy"
      src="./img/svg/logo-footer.svg"
      class="image"
      width="87"
      height="96"
      alt=""
    />
    <div class="footer__content">
      <dl class="footer__list">
        <dt class="footer__title">Telegram чат</dt>
        <dd class="footer__text">О нас</dd>
        <dd class="footer__text">Партнеры</dd>
        <dd class="footer__text">Инструкция</dd>
        <dd class="footer__text">Цены</dd>
        <dd class="footer__text">Контакты</dd>
      </dl>
      <dl class="footer__list">
        <dt class="footer__title">Поддержка</dt>
        <dd class="footer__text">Центр поддержки</dd>
        <dd class="footer__text">Политика конфеденциальности</dd>
        <dd class="footer__text">Документы оферта</dd>
        <dd class="footer__text">Документы оферта</dd>
        <dd class="footer__text">Статус</dd>
      </dl>
    </div>
  </div>
  <div class="footer__copyright">
    <span class="footer__reserved">© 2021 Tocha. Все права защищены</span>
  </div>
</footer>
