<header class="header">
  <div class="container">
    <div class="header__menu">
      <img
        class="logo"
        src="img/logo.png"
        alt="Логотип"
        width="95"
        height="30"
      />
      <div class="header__burger">
        <button
          class="burger"
          aria-label="Открыть меню"
          aria-expanded="false"
          data-burger
        >
          <span class="burger__line line-first"></span>
          <span class="burger__line line-secondary"></span>
          <span class="burger__line line-last"></span>
        </button>
      </div>
    </div>
  </div>
</header>
