<section class="skills">
  <div class="container">
    <h2 class="skills__title">Tocha Online — это</h2>
    <ul class="skills__list list-reset">
      <li class="skills__item list1">
        <p class="skills__item-title">Ничего лишнего</p>
        <p class="skills__item-description">
          Отсутствие лишних приложений для операторов. Оператору не нужно
          учиться работать с чатом
        </p>
      </li>
      <li class="skills__item list2">
        <p class="skills__item-title">Простота</p>
        <p class="skills__item-description">Простая установка на сайт</p>
      </li>
      <li class="skills__item list3">
        <p class="skills__item-title">Несколько ассистентов</p>
        <p class="skills__item-description">
          Возможность подключения нескольких ассистентов
        </p>
      </li>
      <li class="skills__item list4">
        <p class="skills__item-title">Кастомизация</p>
        <p class="skills__item-description">
          Настройка интерфейса под нужды сайта
        </p>
      </li>
    </ul>
  </div>
</section>
