<section class="steps">
  <div class="container">
    <h2 class="steps__title">Всего 3 шага для подключения Telegram чата</h2>
    <div class="swiper steps-swiper">
      <div class="swiper-wrapper steps-swiper-wripper">
        <div class="swiper-slide steps-slide">
          <span class="steps__title-number">1</span>
          <h2 class="steps__descr">
            <b>Telegram bot</b> <br />
            Вы создаёте Telegram бота для вашего сайта
          </h2>
          <picture>
            <source srcset="./img/steps1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/steps1.png"
              class="image"
              width="211"
              height="422"
              alt="Telegram-бот"
            />
          </picture>
        </div>

        <div class="swiper-slide steps-slide">
          <span class="steps__title-number">1</span>
          <h2 class="steps__descr">
            <b>Подключение Tocha</b> <br />
            Tocha подключает Telegram бота к вашиму сайту
          </h2>
          <picture>
            <source srcset="./img/steps2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/steps2.png"
              class="image"
              width="211"
              height="422"
              alt="Telegram-бот"
            />
          </picture>
        </div>

        <div class="swiper-slide steps-slide">
          <span class="steps__title-number">1</span>
          <h2 class="steps__descr">
            <b>Telegram-чат</b> <br />
            Консультант отвечает на вопросы посетителей сайта
          </h2>
          <picture>
            <source srcset="./img/steps3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/steps3.png"
              class="image"
              width="211"
              height="422"
              alt="Telegram-бот"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
