<section class="tarifs">
  <div class="container">
    <h2 class="tarifs__title">Тарифы</h2>
    <p class="tarifs__text">Стоимость зависит от трафика сайта</p>
    <div class="swiper tarifs-swiper">
      <div class="swiper-wrapper tarifs-wrapper">
        <div class="swiper-slide tarifs-slide">
          <a
            class="header__login header__btn--light header__btn--burger btn"
            href="#"
            >Бесплатно</a
          >
          <h3 class="tarifs__slide-title">Пробный период на 1 месяц</h3>
          <p class="tarifs__slide-description">0₽/первый месяц</p>
          <a class="header__registr header__btn--secondary btn" href="#"
            >Подключить за 0₽</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
