html {
  box-sizing: border-box;
  font-size: calc(100vw / 1440 * 10); //для магии с относительными единицами
  @media (max-width: 1023px) {
    font-size: calc(100vw / 768 * 10);
  }
  @media (max-width: 767px) {
    font-size: calc(100vw / 500 * 10);
  }
  @media (max-width: 499px) {
    font-size: calc(100vw / 375 * 10); //под мобилку отрисованную в 375px
  }
  height: 100%; //прижатие футера к низу страницы
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 3.2rem;
  min-height: 100%;
  height: 100%; //прижатие футера к низу страницы
  background-color: #f2f7ff;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  min-height: 100%; //прижатие футера к низу страницы
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
  display: flex; //прижатие футера к низу страницы
  flex-direction: column; //прижатие футера к низу страницы
}

.main {
  flex-grow: 1; //прижатие футера к низу страницы
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  font-family: serif;
  font-size: 1.6rem;
  line-height: 1.3;
  border-radius: 0.6rem;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 120rem;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}
