// если вы хотите использовать sass-переменные - удалите root
@use "sass:math";
// // перевод в em, rem
// @function rem($px) {
//   $result: math.div($px, 16) + rem;
//   @return $result;
// }

// @function em($px) {
//   $result: math.div($px, 16) + em;
//   @return $result;
// }

:root {
  // base
  --font-family: "Open Sans", sans-serif;
  // --content-width: 1170px;
  // --container-offset: 15px;
  // --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #ffffff;
  --dark-color: #000000;
  --primery-color: #1d2530;
  --secondary-color: #685ed6;
}
